<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta content="IE=edge" http-equiv="X-UA-Compatible" />
  <meta content="width=device-width,initial-scale=1" name="viewport" />
  <meta content="description" name="description" />
  <meta name="google" content="notranslate" />
  <meta content="Kiptoo Home" name="author" />

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no" />

  <link rel="apple-touch-icon" sizes="180x180"
    href="{{ url_for('static', filename='assets/apple-icon-180x180.png') }}" />
  <link href="{{ url_for('static', filename='assets/favicon.ico') }}" rel="icon" />

  <title>Kiptoo - Thank you</title>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body class="">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>
    <!-- Add your content of header -->
    <header>
      <nav class="navbar  navbar-fixed-top navbar-default">
        <div class="container">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar-collapse"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav ">
              <li><a href="{{url_for('home')}}" title="">01 : Home</a></li>
              <li><a href="{{url_for('projects')}}" title="">02 : Projects</a></li>
              <li><a href="{{url_for('about')}}" title="">03 : About me</a></li>
              <li><a href="{{url_for('contact')}}" title="">04 : Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="section-container">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="section-container-spacer text-center">
              <h1 class="h2">Our Policy</h1>
            </div>

            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <h3>Terms and Conditions </h3>
                <p>
                   The following terms and conditions apply to the use of Avesgraphics website
                  and by using the website you will be deemed to have read, understood and accepted these
                  terms and conditions:
                </p>

                <h4> 1)Security policy. </h4>
                <p>
                  We are concerned about your privacy and endeavor to only collect data necessary to make your
                  experience on our website as efficient as possible. The website has taken initiative to ensure
                  that the data you provide is safe and secure from any loss, misuse and alteration in our hands.
                </p>

                <h4>2)Third party rights.</h4>

                <p>
                  The agreement does not give rights to 3rd parties. This agreement prohibits you from transferring
                  your rights and obligations without our consent. However, our rights and obligations can be
                  assigned to others if ownership changes or by law.
                </p>

                <h4>3)Limitation of liability </h4>

                <p>
                  Avesgraphics shall not be  liable for any of your engagements with a 3rd party on this website.
                  In case you make a payment, contractual commitment or request to a 3rd party on our website,
                  we will not be liable for any claim, costs (including legal costs), expenses or damages occasioned
                  as a result of such action on your part.
                  Avesgraphics website may contain links to 3rd party sites. The presence of a link to a 3rd party site
                  does not mean that our website endorses that site, views or its products. The presence of such 3rd party
                  links are not an endorsement or recommendation by us.
                </p>

                <h4>4)Misconduct on the website.</h4>

                <p>
                  If you are found to be in breach of any of the terms and conditions or any applicable legislation,
                  Avesgraphics have the mandate to limit your usage of their website. Repeated misconduct will lead to
                  termination or blockage of your account.
                </p>

                <h4>5)Updating of terms and conditions. </h4>

                <p>
                  These terms are not cast on stone and with time we might need to make slight adjustments to them so
                  that they accurately reflect our services and policies. We will notify you before we make changes to
                  these terms and give you and opportunity to review them before we give effect to the changes.
                </p>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer-container text-center">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p> © 2022 | <a href="{{url_for('terms')}}">Privacy Policy</a> </p>
          </div>
        </div>
      </div>
    </footer>

  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      type();
      movingBackgroundImage();
    });
  </script>

  <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>